* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --header-font-family: "Merriweather", serif;
    --body-font-family: "Gideon Roman", serif;

    --primary-color-primary: #142252;
    --hover-background-card: #f5e0e0;
    --white-color: #ffffff;
    --black-color: black;

    --color-primary-dark: #1E3A8A;
    --color-primary-light: #3B82F6;

    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    --flex-direction: column;
    --row-direction: row;
    --list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --center-align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;
    --text-align: center;

    --border-none: none;
    --hundred-width: 100%;
    --zero-auto-margin: 0 auto;
    --ten-three-max-width: 1023px;
    --point-five-col-gap: .5rem;
    --flex-wrap: wrap;
    --justify-content-around: space-around;
    --justify-content-between: space-between;

    --auto-height: auto;
    --point-five-padding: .5rem;
    --twelve-border-radius: 12px;
    --point-five-margin: .5rem;
    --one-rem-padding: 1rem;

    --h-border-radius: 8px
}
dialog {
    position: fixed;
    justify-self: center;
    align-self: center;
    width: 80%;
    max-width: 500px;

    h2 {
        padding: 0;
    }
    p {
        padding: .3rem .5rem .3rem .5rem;
    }
    button {
        padding: .5rem;
        border-radius: 20px;
        background-color: var(--primary-color-primary);
        color: var(--white-color);
        cursor: var(--cursor-pointer);
    }
}
.dialogDetails {
    background-color: var(--hover-background-card);
    padding: .5rem;
}
.place-card {
    display: var(--grid-display);
    grid-template-areas: 
        "name"
        "pic"
        "description"
        "location"
        "button";
    border: 1px solid var(--black-color);
    border-radius: 10px;
    background-color: var(--hover-background-card);
    /* padding: var(--point-five-col-gap); */
    margin: .5rem;
    margin-bottom: .5rem;
    overflow: hidden;

    h2 {
        /* background-color: white; */
        padding: .7rem;
        margin-bottom: .3rem;
        grid-area: name;
    }
    img {
        border: 1px solid var(--black-color);
        grid-area: pic;
        width: 100%;
    }

    button {
        grid-area: button;
        padding: .7rem;
        border-radius: 50px;
        cursor: var(--cursor-pointer);
        margin: 1rem;
        background-color: var(--primary-color-primary);
        color: var(--white-color);
    }
    .placeDescription {
        grid-area: description;
        padding: .7rem;
    }
    .placeAddress {
        grid-area: location;
        padding: .7rem;
        font-style: italic;
    }
}