* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font-family: "Merriweather", serif;
    --body-font-family: "Gideon Roman", serif;

    --primary-color-primary: #142252;
    --hover-background-card: #f5e0e0;
    --white-color: #ffffff;
    --black-color: black;

    --color-primary-dark: #1E3A8A;
    --color-primary-light: #3B82F6;

    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    --flex-direction: column;
    --row-direction: row;
    --list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --center-align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;
    --text-align: center;

    --border-none: none;
    --hundred-width: 100%;
    --zero-auto-margin: 0 auto;
    --ten-three-max-width: 1023px;
    --point-five-col-gap: .5rem;
    --flex-wrap: wrap;
    --justify-content-around: space-around;
    --justify-content-between: space-between;

    --auto-height: auto;
    --point-five-padding: .5rem;
    --twelve-border-radius: 12px;
    --point-five-margin: .5rem;
    --one-rem-padding: 1rem;
}

header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color-primary);
    padding: .7rem .4rem .7rem .4rem;

    .l-ham {
        display: var(--flex-display);
        justify-content: var(--justify-content-between);
        align-items: var(--center-align-items);

        .mode {
            display: var(--flex-display);
            align-items: var(--center-align-items);
            gap: .3rem;

            img {
                width: 30px;
                height: 30px;
            }
            .no-mode {
                display: var(--display-none);
            }
        }
    }

    .logo {
        display: var(--flex-display);
        flex-direction: var(--flex-direction);
        align-items: var(--center-align-items);
        width: 255px;
        
        a {
            text-decoration: var(--text-decoration-none);
            color: var(--hover-background-card);
            
            h2 {
                font-size: larger;
            }
            span {
                color: #84f5ca;

            }

            p {
                font-size: smaller;
            }
        }
    }

    nav {

        ul {
            display: var(--flex-display);
            flex-direction: var(--flex-direction);
            list-style: var(--list-style);

            li {
                a {
                    display: var(--display-block);
                    color: var(--hover-background-card);
                    text-decoration: var(--text-decoration-none);
                    border-bottom: 1px solid var(--hover-background-card);
                    padding: var(--four-padding);
                }

                a:hover {
                    background-color: var(--hover-background-card);
                    color: var(--black-color);
                    padding: var(--four-padding);
                    cursor: var(--cursor-pointer);
                }
            }

            li.current {
                background-color: var(--hover-background-card);

                a {
                    color: var(--black-color);
                }
            }
        }

    }
    
    .navigation {
        display: var(--display-none);
    }

    .navigation.show {
        display: var(--display-block);
    }

    .hamburger {
        background: none;
        border: var(--border-none);
        color: var(--hover-background-card);
        cursor: var(--cursor-pointer);
    }

    .hamburger::before {
        content: "\2630";
        font-size: 2.5rem;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-family: verdona, Verdana, Geneva, Tahoma, sans-serif;
    }
}

main {
    /* padding-top: 122px; */
    .hero {
        position: relative;
        .hero-image {

                img {
                    width: var(--hundred-width);
                    height: var(--auto-height);
                    display: var(--display-block);
                }

        }

    }

    .hero-button {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-1%, -1%);

        button {
            padding: var(--point-five-padding);
            border-radius: var(--twelve-border-radius);
            background-color: var(--primary-color-primary);
            color: var(--hover-background-card);
        }

        button:hover {
            background-color: var(--hover-background-card);
            color: var(--black-color);
        }
    }

    h1, h2 {
        padding-left: var(--four-padding);
    }

    .all-events {
        margin: var(--point-five-margin);

        h2 {
            background-color: var(--primary-color-primary);
            text-align: var(--text-align);
            color: var(--hover-background-card);
            padding: var(--four-padding);
        }

        .events {
            background-color: var(--hover-background-card);
            padding-bottom: 9rem;
            margin-bottom: .7rem;

            .event-list {
                padding: var(--one-rem-padding);
                p {
                    text-align: var(--text-align);
                }
                p::before {
                    content: url("https://planetceles.github.io/wdd231/images/dot.svg");
                }
            }
        }

        .weather {
            background-color: var(--hover-background-card);
            margin-bottom: .7rem;

            .img-w {
                display: var(--flex-display);
                column-gap: .7rem;
                padding: var(--one-rem-padding);

                img {
                    width: 110px;
                    height: var(--auto-height);
                    align-self: flex-start;
                }
            }

        }

        .forecast {
            background-color: var(--hover-background-card);

            p {
                padding: var(--four-padding);
            }
        }
    }

    .all-business {

        .business {
            border-radius: var(--twelve-border-radius);
            margin: var(--point-five-margin);
            background-color: var(--hover-background-card);

            .title {
                text-align: var(--text-align);
                border-bottom: 1px solid #ddd;
                background-color: var(--primary-color-primary);
                color: var(--hover-background-card);
                padding: var(--four-padding);
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
            .img-bus {
                display: var(--flex-display);
                align-items: var(--center-align-items);
                padding: var(--point-five-padding);
                column-gap: .5rem;
            }
            
        }
    }
    .member {
        display: var(--flex-display);
        flex-direction: var(--flex-direction);
        align-items: var(--center-align-items);
        .member-card {
            background-color: var(--hover-background-card);
            border: 1px solid #84f5ca;
            margin: .3rem;
            width: 350px;
            text-align: var(--text-align);

            a {
                text-decoration: var(--text-decoration-none);
            }

            img {
                width: 120px;
                height: var(--auto-height);
                object-fit: cover;
                border-radius: 10px;
                
            }
        }
        .member-card.gold {
            border: 1px solid gold;
        }
        
    }
    #member.list {
        display: var(--flex-display);
        flex-direction: var(--flex-direction);
        
    }
    #member.list img {
        display: var(--display-none);
    }
    /* #member.list .member-card:nth-child(even) {
        background-color: var(--white-color);
    } */
    .members {
        .buttons {
            display: var(--flex-display);
            justify-content: var(--justify-content-between);
            align-items: var(--center-align-items);
            padding-right: 1rem;

            .view-buttons {
                button {
                    background-color: var(--primary-color-primary);
                    color: var(--hover-background-card);
                    padding: .1rem .5rem;
                    border-radius: 10px;
                    border: var(--border-none);
                    cursor: var(--cursor-pointer);
                }
                button:hover {
                    background-color: var(--hover-background-card);
                    color: var(--black-color);
                }
            }
        }
    }
}
footer {
    background-color: var(--primary-color-primary);
    color: var(--hover-background-card);
    padding: var(--point-five-padding);

    .chamber-address {
        padding-top: .5rem;
    }
    .social {
        padding: var(--one-rem-padding);
        
        ul {
            display: var(--flex-display);
            justify-content: var(--justify-content-around);
            list-style: var(--list-style);


            li {
                a {
                    text-decoration: var(--text-decoration-none);
                    cursor: var(--cursor-pointer);

                    img {
                        width: 62px;
                        height: 62px;
                    }
                }
            }
        }
    }
}