:root {
    --header-font-family: "Merriweather", serif;
    --body-font-family: "Gideon Roman", serif;

    --primary-color-primary: #142252;
    --hover-background-card: #f5e0e0;
    --white-color: #ffffff;
    --black-color: black;

    --color-primary-dark: #1E3A8A;
    --color-primary-light: #3B82F6;

    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    --flex-direction: column;
    --row-direction: row;
    --list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --center-align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;
    --text-align: center;

    --border-none: none;
    --hundred-width: 100%;
    --zero-auto-margin: 0 auto;
    /* --ten-three-max-width: 1023px; */
    --ten-three-max-width: 1100px;
    --point-five-col-gap: .5rem;
    --flex-wrap: wrap;
    --justify-content-around: space-around;
    --justify-content-between: space-between;
}
@media only screen and (min-width:38rem) {
    header {
        display: var(--flex-display);
        justify-content: var(--justify-content-around);
        align-items: var(--center-align-items);
        .mode {
            .l-mode {
                display: var(--display-none);
            }
            .hamburger {
                display: var(--display-none);
            }
        }
        .navigation {
            display: var(--display-block);

            ul {
                display: var(--flex-display);
                flex-direction: var(--row-direction);

                li {
                    a {
                        display: var(--display-block);
                        border: var(--border-none);
                    }
                }
            }
        }
    }
    main {
        padding-top: 97px;
        .hero {
            width: var(--hundred-width);
            /* max-width: 1050px; */
            max-width: 1100px;
            margin: var(--zero-auto-margin);

            .hero-button {
                top: 70%;
                left: 70%;
            }
        }
        h1 {
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);
            padding: .5rem 0rem .2rem 0rem;

        }
        .all-events {
            display: var(--grid-display);
            grid-template-columns: auto 350px 300px;
            column-gap: var(--point-five-col-gap);
            width: var(--hundred-width);
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);

            h2 {
                text-align: left;
            }
        }
        .all-business {
            display: var(--flex-display);
            flex-wrap: var(--flex-wrap);
            column-gap: .4rem;
            width: var(--hundred-width);
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);

            .business {
                margin: .5rem 0rem .3rem 0rem;
            }
        }
        .member {
            background-color: re/d;
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);

            .member-card {
                width: 320px;
                border-radius: 10px;
            }
            .member-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }
        }
        #member {
            display: var(--flex-display);
            flex-direction: var(--row-direction);
            flex-wrap: var(--flex-wrap);
        }
        #member.list {
            display: var(--flex-display);
            flex-direction: var(--row-direction);
        }
        .members {
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);
            .buttons {
                display: var(--flex-display);
                justify-content: space-between;
                align-items: var(--center-align-items);

                .view-buttons {
                    button {
                        padding: .3rem 1.5rem;
                    }
                }
                
            }
        }
        
    }
    footer {
        display: var(--flex-display);
        justify-content: var(--justify-content-around);
        align-items: var(--center-align-items);

        .social {
            padding: 0;

            ul {
                column-gap: .9rem;

                li {
                    a {
                        img {
                            width: 44px;
                            height: 44px;
                        }
                    }
                    
                }
            }
        }
    }
}