* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --header-footer-color: #1E3A8A;
    --hover-color: #F97316;
    --background-color: #F2F6FA;
    --text-color: #111827;
    
    --white: #FFFFFF;
    --black: #000000;

    --font-family: "DM Serif Display", serif;
    --second-font-family: "Lora", serif;
    --code-font-family: "Google Sans Code", monospace;

    /* --background-color: #F9FAFB; */
    /* --header-footer-color: #102A43; */

    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);

    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    /* --flex-direction: column; */
    --list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;

    /* new */
    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    --column-flex-direction: column;
    --row-direction: row;
    --none-list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --center-align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;
    --text-align: center;

    --border-none: none;
    --hundred-width: 100%;
    --zero-auto-margin: 0 auto;
    --ten-three-max-width: 1023px;
    --point-five-col-gap: .5rem;
    --flex-wrap: wrap;
    --justify-content-around: space-around;
    --justify-content-between: space-between;

    --auto-height: auto;
    --point-five-padding: .5rem;
    --twelve-border-radius: 12px;
    --point-five-margin: .5rem;
    --one-rem-padding: 1rem;

    --h-border-radius: 8px
    --zero-padding: 0;
    --point-seven-padding: .7rem;
}
header {
    background-color: var(--header-footer-color);
    /* color: var(--white); */

    .logo-ham {
        background-color: red;
        display: var(--grid-display);
        grid-template-columns: auto 50px;
    }
}
.logo {
    a {
        text-decoration: var(--text-decoration-none);

        img {
            width: 200px;
            height: 100px;
        }
    }
}
.navigation {
    display: var(--display-none);

    ul {
        display: var(--flex-display);
        flex-direction: var(--column-flex-direction);
        list-style: var(--none-list-style);
        
        li {
            a {
                display: var(--display-block);
                text-decoration: var(--text-decoration-none);
                border-bottom: 1px solid black;
                color: var(--white);
                padding: var(--four-padding);
            }
            :hover {
                background-color: var(--hover-color);
                color: var(--black);
                cursor: var(--cursor-pointer);
                /* padding: var(--four-padding); */
            }
        }
        li.current {
            background-color: var(--hover-color);
            
            a {
                color: var(--black);
            }
        }
    }
    
}
.navigation.show {
    display: var(--display-block);
}
.hamburger {
    background: none;
    border: none;
    color: var(--white);
    cursor: var(--cursor-pointer);
}
.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}