:root {
    --header-footer-color: #1E3A8A;
    --hover-color: #F97316;
    --background-color: #F2F6FA;
    --text-color: #111827;
    
    --white: #FFFFFF;
    --black: #000000;

    --font-family: "DM Serif Display", serif;
    --second-font-family: "Lora", serif;
    --code-font-family: "Google Sans Code", monospace;

    /* --background-color: #F9FAFB; */
    /* --header-footer-color: #102A43; */

    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);

    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    /* --flex-direction: column; */
    --list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;

    /* new */
    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;

    --column-flex-direction: column;
    --row-direction: row;
    --none-list-style: none;
    --four-padding: .4rem;
    --text-decoration-none: none;
    --center-align-items: center;
    --display-block: block;
    --display-none: none;
    --left-margin: .5rem;
    --text-align: center;

    --border-none: none;
    --hundred-width: 100%;
    --zero-auto-margin: 0 auto;
    --ten-three-max-width: 1023px;
    --point-five-col-gap: .5rem;
    --flex-wrap: wrap;
    --justify-content-around: space-around;
    --justify-content-between: space-between;

    --auto-height: auto;
    --point-five-padding: .5rem;
    --twelve-border-radius: 12px;
    --point-five-margin: .5rem;
    --one-rem-padding: 1rem;

    --h-border-radius: 8px;
    --zero-padding: 0;
    --point-seven-padding: .7rem;
}
form {
    padding: 1rem .3rem;
    margin: .2rem;
    /* padding: 1rem .8rem; */
    /* border: 1px solid var(--header-footer-color); */
    border-radius: var(--h-border-radius);
    /* background-color: var(--hover-background-card); */
}
form input,
form select,
form textarea,
form button {
    display: var(--display-block);
    padding: 12px;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: .5rem;
    border-radius: var(--h-border-radius);
    /* margin: 1rem .2rem; */
}
form fieldset {
    padding: .3rem;
    border: 1px solid var(--primary-color-primary);
    color: var(--text-color);
    border-radius: var(--h-border-radius);
}
 form fieldset {
    margin-top: .5rem;
 }
form button {
    background-color: var(--hover-color);
    color: var(--white);
}
form button:hover {
    background-color: var(--header-footer-color);
    color: var(--white);
}
dialog {
    position: fixed;
    justify-self: center;
    align-self: center;
    padding: .5rem;
    width: 80%;
    max-width: 500px;
    background-color: var(--background-color);
    /* border-radius: 50px solid var(--primary-color-primary); */
    /* border: 1px red; */

    .dialog-close {
        /* display: var(--flex-display); */
        /* grid-template-columns: auto 44px; */
        /* justify-content: space-between; */
        display: var(--grid-display);
        grid-template-columns: auto 44px;

        button {
            border-radius: 10px;
            /* background-color: var(--primary-color-primary); */
            /* color: red; */
        }
        button:hover {
            background-color: var(--hover-color);
            color: var(--white);
        }
    }
}
::backdrop {
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: transparent;
}
.course-info-card {
    background-color: var(--white);
    padding: var(--point-five-padding);
    margin-bottom: .7rem;
    border-radius: var(--h-border-radius);
    animation: fadeIn 5s ease-in-out;

    button {
        padding: .2rem .3rem;
        margin-top: .2rem;
        border-radius: var(--h-border-radius);
        background-color: var(--hover-color);
        color: var(--white);
    }
    button:hover {
        background-color: var(--header-footer-color);
        color: var(--white);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.info {
    margin: var(--point-five-margin);
}

@media only screen and (min-width:38rem) {
    main {
        h2 {
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);
            padding: .5rem 0rem .2rem 0rem;
            /* border: 1px solid black; */
            /* margin-left: 0; */
        }
        section {
            /* display: var(--flex-display); */
            /* justify-content: var(--justify-content-between); */
            display: var(--grid-display);
            grid-template-columns: auto 400px;
            gap: .7rem;
            max-width: var(--ten-three-max-width);
            margin: var(--zero-auto-margin);

            .info {
                h2 {
                    padding-top: 0;
                }
            }
        }
    }
}